<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Contacts</a>
    </div>
    <ul class="nav navbar-nav">
	<li><a routerLink="/home">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
	 <li><a routerLink="/login" data-toggle="modal" data-target="#login-modal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li *ngIf="loginStatus" ><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
	</ul>
  </div>
</nav>

